In [20]:
# 1) Using the python print function print any string value, integer value, boolean value, float value in single print command

print("bismillah in python", 42 , True, 3.12)

bismillah in python 42 True 3.12

In [22]:
#2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command
print("bismillah in python", 42 , True, 3.12, sep="-")

bismillah in python-42-True-3.12

In [3]:
#3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
#But every value must be space separated and in single line
print("bismillah in  python", end=" ")
print(42, end=" ")
print(True, end=" ")
print(3.12, end=" ")

bismillah in  python 42 True 3.12

In [41]:
# 4) Can a python print function take no value to print???
print("line 1")
print()   #yes
print("line 3")

line 1

line 3

In [77]:
#5) One of my friend name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005.
# He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
# He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

# Note: Create variables from above text and also assign values from the text.  

name= "Mr Ahmed"
age= 30 
profession= "lawer"
education= "bachlors in Law"
graduation_year= 2005
company_name="The himalya Associates"
city= "Karachi"
working_since= 2015
height= 5.10
weight= 70600
m_income= 200000

print("friend's name:", name)
print("age:",age)
print("Profesion:",profession)
print("Education:",education)
print("Graduation year:",graduation_year)
print("Company name:",company_name)
print("City:",city)
print("Working since:",working_since)
print("Height:", height,"feet")
print("Weight:",weight, "gram")
print("Monthly income:", "Rs.",m_income,"pkr")

friend's name: Mr Ahmed
age: 30
Profesion: lawer
Education: bachlors in Law
Graduation year: 2005
Company name: The himalya Associates
City: Karachi
Working since: 2015
Height: 5.1 feet
Weight: 70600 gram
Monthly income: Rs. 200000 pkr

In [79]:
# 6)How many years has been to Mr. Ahmed after his bachelors degree? 
# Create a variable that hold current year value and then subtract it from his passout year

current_year=2024
graduation_year=2005

print("Years since Mr. Ahmed's graduation:", current_year-graduation_year)

Years since Mr. Ahmed's graduation: 19

In [87]:
# 7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'.
# Create necesary variables and print the correct number of years in working in the firm

curren_year=2024
working_since=2015

print("Years Mr Ahmed working  'The Himalya Associate':", current_year-working_since)

Years Mr Ahmed working  'The Himalya Associate': 9

In [89]:
# 8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.
monthly_income=200000
exchange_rate=280

print("The monthly income in Dollars is",monthly_income/exchange_rate)

The monthly income in Dollars is 714.2857142857143

In [95]:
# 9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. 
# print the income in integer type value

monthly_income=200000
exchange_rate=280
usd=monthly_income/exchange_rate

print("The monthly income in Dollars is",int(usd))

The monthly income in Dollars is 714

In [111]:
# 10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

weight_grams=70600
convert_kilograms=1000
kg= weight_grams/convert_kilograms
print("Mr Ahmed's weight in kg is:",int(kg))

Mr Ahmed's weight in kg is: 70

In [117]:
#11) print the year of birth of Mr. Ahmed.
current_year=2024
age=30
birth_year = current_year - age
print("Birth year of Ahmed's is:",birth_year)

Birth year of Ahmed's is: 1994

In [125]:
# 12) Can Rs. 100 be divided equally among 6 students?
# HINT: % operator (modulo)

rs=100%6
print(rs)

4